$rose: #5b134b;
$rosePurple: #682478;
$rosebak: #750235;
$purple: #321f45;
$bgcolor: #ffffff;
$white: #ffffff;
$gray: #7e858f;

$blackOverlay: 0.4;
// content-colored content-colored-2
// $test: hsl(0, 100%, 100%);
// body{
//   background: $test !important;
// }